# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties
/android/.gradle/
/android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/build/

# Windows
windows/flutter/
windows/runner/Debug/
windows/runner/Release/
windows/.vs/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.swift

# Linux
linux/flutter/
linux/runner/Debug/
linux/runner/Release/

# Environment / Sensitive
.env
google-services.json
GoogleService-Info.plist
